{{#published-articles}}
    <li>
        <h2><a href="{{link}}">{{title}}</a></h2>
        <p class="meta">
            <span>{{publisher}}</span> &middot;
            <time>{{publish-date}}</time>
            {{#reader-fav}}
                &middot; <span class="readers-fav">readers’ fav</span>
            {{/reader-fav}}
        </p>
    </li>
{{/published-articles}}