{{#published-articles}}
    <li>
        <a href="{{link}}">{{title}}</a>
        <ul class="meta">
            <li class="publish-date">{{publish-date}}</li>
            <li class="publisher">{{publisher}}</li>
            {{#reader-fav}}
                <li class="readers-fav">readers’ fav</li>
            {{/reader-fav}}
        </ul>
    </li>
{{/published-articles}}