{{#recent-projects}}
    <li>        
        <a href="{{link}}">{{title}}</a>

        <ul>
            <li class="thumbnail">
                <a href="{{link}}">
                    <img src="resources/images/{{id}}.png" width="400" height="300" />
                </a>
            </li>
            <li class="meta">{{description}}</li>
            {{#cta}}
                <li style="margin-top: .25em"><a href="{{cta}}" class="highlight">Write-up &raquo;</a></li>
            {{/cta}}
        </ul>
    </li>
{{/recent-projects}}