{{#recent-projects}}
    <li>
        <a href="{{link}}" class="l-col">
            <img src="resources/images/{{title}}.png" width="400" height="300" />
        </a>
        <div class="l-col">
            <a href="{{link}}">
                <h2 class="bold">{{title}}</h2>
                <span class="meta">{{link-pretty}}</span>
            </a>
            <p>{{description}}</p>
            {{#cta}}
                <p><a href="{{cta}}" class="highlight">Project overview &raquo;</a></p>
            {{/cta}}
        </a>
    </li>
{{/recent-projects}}