{{#recent-projects}}
    <li>
        <a href="{{link}}" class="l-col-left">
            <img src="resources/images/{{id}}.png" width="400" height="300" />
        </a>

        <ul class="l-col-right">
            <li><a href="{{link}}" class="bold">{{title}}</a></li>
            
            <li class="meta">{{description}}</li>
            
            {{#cta}}
                <li style="margin-top: 1em"><a href="{{cta}}" class="highlight">Project overview &raquo;</a></li>
            {{/cta}}
        </ul>
        
    </li>
{{/recent-projects}}