$color-background: #292929;
$color-highlight: #c02702;

$font-size-base: 16;

$font-family-base: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

$font-family-header: 'EB Garamond', 'Donegal One', 'Brawler', serif;