/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/_header.scss */
.header {
  text-align: center;
  padding: 0 0 14em;
  line-height: 1.1;
  font-family: "EB Garamond", "Donegal One", "Brawler", serif;
}

/* line 9, sass/_header.scss */
.header__logo {
  padding: 5em 0;
}
/* line 11, sass/_header.scss */
.header__logo a {
  display: block;
  width: 240px;
  height: 120px;
  background: url(../images/logo.png) no-repeat 0 0;
  margin: 0 auto;
  text-indent: -9999px;
}

/* line 21, sass/_header.scss */
.header__title {
  font-size: 3.75em;
  margin-bottom: .25em;
}
/* line 27, sass/_header.scss */
.header__title em {
  color: #c02702;
}

/* line 33, sass/_header.scss */
.header__subtitle {
  font-weight: 300;
  color: #444;
  letter-spacing: .2em;
  text-transform: uppercase;
}
/* line 41, sass/_header.scss */
.header__subtitle a {
  color: inherit;
}

/* line 10, sass/style.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, sass/style.scss */
body {
  background: #292929;
  font: 1em/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 20, sass/style.scss */
a {
  text-decoration: none;
}

/* line 24, sass/style.scss */
.l-wrapper {
  width: 90%;
  padding: 0 5em;
  margin: 3em auto 6em;
  max-width: 1120px;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 130px black;
  -moz-box-shadow: 0 0 130px black;
  box-shadow: 0 0 130px black;
}

/* line 34, sass/style.scss */
.l-left {
  width: 25%;
  float: left;
}

/* line 38, sass/style.scss */
.l-right {
  width: 72%;
  float: right;
}

/* line 43, sass/style.scss */
.section {
  overflow: hidden;
  border-top: 1px solid #e9e9e9;
}

/* line 47, sass/style.scss */
.section__header {
  border-top: 1px solid #333;
  position: relative;
  top: -1px;
}

/* line 56, sass/style.scss */
.meta {
  font-size: 0.75em;
  color: #999;
}
